[submodule "lcp"]
	path = lcp
	url = https://github.com/datachainlab/lcp
[submodule "tests/e2e/chains/xion/xion"]
	path = tests/e2e/chains/xion/xion
	url = https://github.com/datachainlab/xion.git
[submodule "parlia-ibc-cw"]
	path = parlia-ibc-cw
	url = https://github.com/datachainlab/parlia-ibc-cw.git
